<!DOCTYPE html>
<html>

<head>
    <title>trAIner24</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/indexstyle(12).css') }}">
</head>

<img src="static/trAIner24Logo(2).png" alt="trAIner24Logo" width=932 height=324>


<body>


<h1>Select Your Exercise: </h1>
    
    <a href="/squat">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        Squat
    </a>
    <a href="/plank">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        Plank
    </a>
</body>

</html>



</html>